/* Navbar Start */
.navbar-default {
	z-index: 5;
	background: 0;
	border: 0;
	padding-top: 40px;
	transition: all 0.5s ease-in-out;
	width: 100%;

	.navbar-header {
		.navbar-brand {
			padding-top: 0;
			color: white;
			font-weight: 700;
			font-size: 20px;
			text-transform: uppercase;
		}

		.navbar-toggle {
			border: 0;
			margin-top: 0;
			padding: 0;

			&:hover, &:focus {
				background: 0;
			}

			.icon-bar {
				width: 22px;
				background-color: white;
				transition: all 0.2s;
			}

			.top-icon-bar {
				transform: rotate(45deg);
				transform-origin: 10% 10%;
			}

			.middle-icon-bar {
			    opacity: 0;
			}

			.bottom-icon-bar {
				transform: rotate(-45deg);
				transform-origin: 10% 90%;
			}

			&.collapsed {
				.top-icon-bar {
					transform: rotate(0);
				}

				.middle-icon-bar {
					opacity: 1;
				}

				.bottom-icon-bar {
					transform: rotate(0);
				}
			}

			  
		}
	}

	.navbar-nav > li > a {
		padding-top: 0;
		color: white;
		font-weight: 600;
		font-size: 13px;
		text-transform: uppercase;
		transition: color 0.2s ease-in-out;


		&:active {
			background: 0;
			color: $secondary-color;
		}

		&:focus {
			outline: 0;
			background: 0;
			color: $secondary-color;
		}

		&:hover {
			color: $secondary-color;
			background:0;
		}
	}

	.navbar-nav > .active > a {
		color: $secondary-color;
		background: 0;

		&:hover {
			background: 0;
		}
	}

}



.navbar-scrolled {
	position: fixed;
	padding-top: 20px;
	background-color: white;
	box-shadow: 0 0 15px rgba(51, 51, 51, 0.15);
	border: 0;
	border-radius: 0;
	transition: all 0.5s ease-in-out;

	.navbar-header {
		.navbar-brand {
			color: $secondary-color;
		}

		.navbar-toggle {
			.icon-bar {
				background-color: black;
			}
		}
	}

	.navbar-nav > li > a {
		color: black;
	}
}


@media (max-width: $screen-sm-min) {
	.navbar-default {
		.navbar-collapse {
			position: absolute;
			padding-left: 10px;
			width: 90%;
			margin: 0 auto;
			background: white;
			border: 0;
			box-shadow: 0 5px 10px rgba(51, 51, 51, 0.15);

			ul li a {
				padding-top: 5px;
				color: $heading-primary-color;

				&:focus {
					color: $heading-primary-color;
				}
			}
		}
	}
}

/* Navbar End */

