/* Business Statistics Section Start */
.statistic {
	color: white;
	text-align: center;

	.statistic-icon {
		font-size: 50px;
		padding-top: 20px;
	}

	.statistic-value {
		font-weight: 700;
		font-size: 45px;
	}
}
/* Business Statistics Section End */