/* Base Styles Start */
html, body {
	height: 100%;
}

body {
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 24px;
	position: relative;
	overflow-y: scroll;
}



h1 {
	font-weight: 600;
}

h3 {
	font-size: 1.4em; 
	font-weight: 600;
	margin: 0;
	padding-bottom: 50px;

}
/* Base Styles End */


