/* Portfolio Categories Start */
.categories {
	list-style: none;
	padding: 0;
	text-align: center;

	li {
		display: inline;
		padding-right: 10px;
		cursor: pointer;
		font-size: 15px;

		&:first-child {
			cursor: initial;
			font-weight: 600;

			&:hover {
				color: #333333;
			}
		}

		&:hover {
			color: $secondary-color;
		}
	}
}
/* Portfolio Categories End */