section.section.section-filled#process
	.container
		.row.processes
			.col-sm-2.col-sm-offset-1.col-xs-6
				.single-process
					span.process-icon
						i.pe-7s-light
					h6.process-label Get Idea
				span.process-arrow
					i.pe-7s-angle-right
			.col-sm-2.col-xs-6
				.single-process
					span.process-icon
						i.pe-7s-photo
					h6.process-label Design
				span.process-arrow
					i.pe-7s-angle-right
			.col-sm-2.col-xs-6
				.single-process
					span.process-icon
						i.pe-7s-server
					h6.process-label Develop
				span.process-arrow
					i.pe-7s-angle-right
			.col-sm-2.col-xs-6
				.single-process
					span.process-icon
						i.pe-7s-plug
					h6.process-label Debug
				span.process-arrow
					i.pe-7s-angle-right
			.col-sm-2.col-xs-6
				.single-process
					span.process-icon
						i.pe-7s-rocket
					h6.process-label Deliver