section.section#services
	.container
		h2.section-heading My
			span.primary  Service
		.row
			.col-md-4
				.media
					.media-icon
						i.pe-7s-monitor
					.media-body
						h4.media-sub-heading Web Design
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
			.col-md-4
				.media
					.media-icon
						i.pe-7s-tools
					.media-body
						h4.media-sub-heading Web Development
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
			.col-md-4
				.media
					.media-icon
						i.pe-7s-phone
					.media-body
						h4.media-sub-heading App Development
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
			.col-md-4
				.media
					.media-icon
						i.pe-7s-paint
					.media-body
						h4.media-sub-heading Branding
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
			.col-md-4
				.media
					.media-icon
						i.pe-7s-graph2
					.media-body
						h4.media-sub-heading Marketing
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
			.col-md-4
				.media
					.media-icon
						i.pe-7s-headphones
					.media-body
						h4.media-sub-heading Customer Support
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.