section.section.section-filled#testimonials
	.container
		.row
			.col-md-4
				.testimonial
					.testimonial-icon
						img(src="./img/double-quotes.png")
					.testimonial-body 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
					h5.testimonial-author John Doe
			.col-md-4
				.testimonial
					.testimonial-icon
						img(src="./img/double-quotes.png")
					.testimonial-body 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
					h5.testimonial-author John Doe
			.col-md-4
				.testimonial
					.testimonial-icon
						img(src="./img/double-quotes.png")
					.testimonial-body 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
					h5.testimonial-author John Doe

