section.section#about-me
	.container
		h2.section-heading About
			span.primary  Me
		.row
			.col-md-8
				.media
					.col-md-4
						.media-left.media-middle
							a(href="#")
								img(src="./img/photo.jpg")
					.col-md-8
						.media-body
							h3.media-heading I'm Jonathan Doe
							p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit.
							img(src="./img/signature.png")
			.col-md-4
				.skill-rating
					h3.no-padding-bottom Skills
					.skill
						h6.skill-title HTML5
							span.pull-right 95%
						.skill-bar(data-value="95")
					.skill
						h6.skill-title CSS3
							span.pull-right 90%
						.skill-bar(data-value="90")
					.skill
						h6.skill-title JQuery
							span.pull-right 60%
						.skill-bar(data-value="60")
					.skill
						h6.skill-title PHP
							span.pull-right 75%
						.skill-bar(data-value="75")
					.skill
						h6.skill-title Wordpress
							span.pull-right 90%
						.skill-bar(data-value="90")
