section.section#blog
	.container
		h2.section-heading Latest
			span.primary  Blog
		.row
			.col-md-4
				.media
					.media-image
						img(src="./img/blog-post/blog-post-1.jpg")
						.media-image-overlay
							.media-badge
								span Web Design
					.media-body
						h4.media-sub-heading 10 Secret Tips for Web Design
						.media-meta
							span.author By Admin
							span.separator |
							span.date 25 June 2017 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
						.media-link
							a(href="#") Read More
							span.fa.fa-long-arrow-right
			.col-md-4
				.media
					.media-image
						img(src="./img/blog-post/blog-post-2.jpg")
						.media-image-overlay
							.media-badge
								span Development
					.media-body
						h4.media-sub-heading 10 Secret Tips for Web Design
						.media-meta
							span.author By Admin
							span.separator |
							span.date 25 June 2017 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
						.media-link
							a(href="#") Read More
							span.fa.fa-long-arrow-right
			.col-md-4
				.media
					.media-image
						img(src="./img/blog-post/blog-post-3.jpg")
						.media-image-overlay
							.media-badge
								span UI & UX
					.media-body
						h4.media-sub-heading 10 Secret Tips for Web Design
						.media-meta
							span.author By Admin
							span.separator |
							span.date 25 June 2017 
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
						.media-link
							a(href="#") Read More
							span.fa.fa-long-arrow-right


