section.section.section-filled#contact
	.container
		h2.section-heading Contact
			span.secondary  Me
		.row
			.col-md-4
				.contact-option
					.contact-option-icon
						span.pe-7s-phone
					ul.contact-option-listing
						li +300-663-7120
						li +300-671-8121
			.col-md-4
				.contact-option
					.contact-option-icon
						span.pe-7s-map
					ul.contact-option-listing
						li johnatan@domain.com
						li john@domain.com
			.col-md-4
				.contact-option
					.contact-option-icon
						span.pe-7s-mail-open
					ul.contact-option-listing
						li 121 King Street Melbourne VIC 3000, Australia
		.row
			.contact-form
				form
					.col-md-6
						.col-md-12
							input(type="text", name="name", placeholder="Name")
							input(type="email", name="email", placeholder="Email")
							input(type="text", name="subject", placeholder="Subject")
					.col-md-6
						textarea.message(rows="4", cols="60", placeholder="Message")
						button(type="submit", value="Submit" ) Submit
