section.section#portfolio
	.container
		h2.section-heading My
			span.primary  Portfolio
		ul.categories
			li Filters:
			li.is-active.category#all All
			li.category#WebDesign Web Design
			li.category#UIUX UI & UX
			li.category#Branding Branding
			li.category#Print Print
		.items
			.portfolio-item.WebDesign
				.portfolio-img
					img(src="./img/1.jpg")
					.img-overlay
						.overlay-text
							h4.overlay-title Project Title
							h5.overlay-content Web Design
			.portfolio-item.Branding
				.portfolio-img
					img(src="./img/2.jpg")
					.img-overlay
						.overlay-text
							h4.overlay-title Project Title
							h5.overlay-content Branding
			.portfolio-item.WebDesign
				.portfolio-img
					img(src="./img/3.jpg")
					.img-overlay
						.overlay-text
							h4.overlay-title Project Title
							h5.overlay-content Web Design
			.portfolio-item.Print
				.portfolio-img
					img(src="./img/4.jpg")
					.img-overlay
						.overlay-text
							h4.overlay-title Project Title
							h5.overlay-content Print
			.portfolio-item.UIUX
				.portfolio-img
					img(src="./img/5.jpg")
					.img-overlay
						.overlay-text
							h4.overlay-title Project Title
							h5.overlay-content UI & UX
			.portfolio-item.Branding
				.portfolio-img
					img(src="./img/6.jpg")
					.img-overlay
						.overlay-text
							h4.overlay-title Project Title
							h5.overlay-content Branding
