section.section#resume
	.container
		h2.section-heading My
			span.primary  Resume
		.row
			.col-md-6
				h3 Education
				.media
					.media-badge
						span 2016-2017
					.media-body
						h4.media-sub-heading Master Degree -
							span.primary Oxford University
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
				.media
					.media-badge
						span 2015-2016
					.media-body
						h4.media-sub-heading College Degree -
							span.primary Oxford University
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
				.media
					.media-badge
						span 2012-2015
					.media-body
						h4.media-sub-heading High School -
							span.primary IT Academy
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.


			.col-md-6
				h3 Experience
				.media
					.media-badge
						span 2016 - present
					.media-body
						h4.media-sub-heading Web Developer -
							span.primary ThemeForest
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
				.media
					.media-badge
						span 2015-2016
					.media-body
						h4.media-sub-heading Front-end Developer -
							span.primary ThemeForest
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
				.media
					.media-badge
						span 2012-2015
					.media-body
						h4.media-sub-heading Junior Front End Developer -
							span.primary ThemeForest
						p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi.
