section.section.section-filled#stats
	.container
		.row
			.col-md-3.col-xs-6
				.statistic
					span.statistic-icon.pe-7s-like2
					h2.statistic-value 327
					h5.statisic-name Projects Done
			.col-md-3.col-xs-6
				.statistic
					span.statistic-icon.pe-7s-coffee
					h2.statistic-value 153
					h5.statisic-name Cups of Coffee
			.col-md-3.col-xs-6
				.statistic
					span.statistic-icon.pe-7s-cup
					h2.statistic-value 37
					h5.statisic-name Awards Won
			.col-md-3.col-xs-6
				.statistic
					span.statistic-icon.pe-7s-smile
					h2.statistic-value 322
					h5.statisic-name Happy Clients